<h2> 2. Choose a starting station for the <span class='<%= params[:line] %>'><%= params[:line] %> line</h2>
  <h3><%= @start_index %></h3>

<form action="/end" method="get">
  <input type="hidden" name="line" value="<%= params[:line] %>">
  <select class="" name="start">
    <% @stations.each do |station| %>
    <option> <%= station %> </option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
