<h2>3. Enjoy your trip, Scooby Doo</h2>
  <input type="hidden" name="line" value="<%= params[:line] %>">
  <input type="hidden" name="start" value="<%= params[:start] %>">
  <input type="hidden" name="end" value="<%= params[:end] %>">


  <p> youre starting at </p>
  <%= params[:start] %>

  <p>  after </p>

  <%= @num_stops%>
  <!-- <% @num_stops%> -->

  <p>  stops </p>
  <p> youll be at </p>
  <%= params[:end] %>
